@import './resets';
@import './variables';

@function weight($weight-name) {
    @return map-get($font-weight, $key: $weight-name);
}

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin theme($light-theme: true) {
    @if $light-theme {
        background-color: lighten($primary-color, 100%);
        color: darken($text-color, 100%);
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

body {
    background: $primary-color;
    color: $text-color;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
    @include flexCenter(column);
    padding: 10px;
    margin: 10px;
    font-weight: weight(regular)
}

.main {
    @include flexCenter(row );
    width: 80% - 40%;
    margin: 0 auto;

    #{&}__paragraph1 {
        font-weight: weight(bold);
        transition: 0.2s;
        padding: 5px;

        &:hover {
            color: red;
            transition: 0.2s;
        }
    }

    #{&}__paragraph2 {
        @extend .main__paragraph1;

        &:hover {
            color: blue;
        } 
    }

    @include mobile() {
        flex-direction: column ;
    }
}

.light {
    @include theme($light-theme: true);
}
 